:root {
  --primary-color: #ffffff;
  --primary-color-l: #fffff7;
  --secondary-color: #c2708a;
  --secondary-color-l: #fbc4d6;
  --tertiary-color: #ecd3d5;
  --dark-color: #000000;
  --dark-color-l: #35342c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Oranienbaum", serif;
  font-family: "Satisfy", cursive;
  font-family: "Yeseva One", cursive;
}
body {
}
header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 115px;
  border-bottom: 1px solid var(--dark-color);
  background-color: var(--primary-color-l);
}
.header--logo{
  width: 290px;
  height: 90px;
}
.navbar-list{
  display: flex;
  list-style: none;
}
.navbar-list--item{
  padding: 0 25px;
  font-family: "Oranienbaum", serif;
  font-size: 2.9rem;
  text-decoration: none;
  color: var(--dark-color);
}
.header--button-agendamento{
  width: 202px;
  height: 78px;
  font-size: 2.5rem;
  font-family: "Yeseva One", cursive;
  color: var(--secondary-color);
  background-color: var(--primary-color-l);
  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  cursor: pointer;
}
/* .home--left{

} */
.home{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home--right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 635px;
  height: 1117px;
  background-color: var(--secondary-color);
}
.home--arrow-icon{
  height: 58vh;
}
.direction-text{
  margin-bottom: 14px ;
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-size: 2.4rem;
  color: var(--primary-color);
}
.horario{
  display: flex;
  height: 80px;
  width: 567px;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Yeseva One", cursive;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-top: 3px solid var(--primary-color);
}
.mision{
  margin: 14px 40px;
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
  color: var(--dark-color-l);
}
.home-title{
  position: absolute;
  top: 25vh;
  right: 45vh;
  display: inline-block;
  width: 997px;
  text-align: center;
  font-size: 9rem;
  font-family: "Yeseva One", cursive;
  color: var(--dark-color-l);
}
.home-title__bottom{
  top: 60vh;
}
.role{
  position: absolute;
  top: 70vh;
  margin-left: 90px;
  width: 200px;
  height: 151px;
  font-family: "Yeseva One", cursive;
  font-size: 3.5rem;
  color: #35342c;
  border: 1px solid var(--dark-color-l);
  border-radius: 40%;
  cursor: pointer;
}
.luna{
  position: absolute;
  top: 55vh;
  margin-left: 150px;
  width:70px ;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--dark-color-l);
}